### Introduction
This is an exploratory notebook for airbnb listings in Nairobi

In [211]:
# load modules
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [212]:
# load data
listings = pd.read_json('../data/listings.json')

In [213]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          280 non-null    object
 1   url            0 non-null      float64
 2   info           0 non-null      float64
 3   description    280 non-null    object
 4   details        280 non-null    object
 5   is_superhost   124 non-null    object
 6   price          280 non-null    object
 7   total_reviews  280 non-null    object
 8   review_score   280 non-null    object
dtypes: float64(2), object(7)
memory usage: 19.8+ KB

In [214]:
listings.head()

,title,url,info,description,details,is_superhost,price,total_reviews,review_score
0,Entire apartment in Nairobi,NaN,NaN,Cozy 2 bedroom near popular restaurant,"[4 guests, 2 bedrooms, 3 beds, 2.5 baths, Wifi...",SUPERHOST,[$52],[],[]
1,Entire apartment in Nairobi,NaN,NaN,Brookview Kilimani 1 Bedroom (Monthly),"[2 guests, 1 bedroom, 1 bed, 1 bath, Wifi, Kit...",SUPERHOST,[$22],[],[]
2,Entire guesthouse in Nairobi,NaN,NaN,"Kileleshwa, 1 bedroom private cottage","[2 guests, 1 bedroom, 2 beds, 1 bath, Wifi, Ki...",None,[$10],"[ (, 5, )]",[5.0]
3,Entire apartment in Nairobi,NaN,NaN,"Cozy studio with CBD view, Netflix + rooftop pool","[2 guests, Studio, 1 bed, 1 bath, Wifi, Kitche...",None,[$25],"[ (, 33, )]",[4.64]
4,Entire apartment in Nairobi,NaN,NaN,SkyView Top Studio,"[2 guests, Studio, 1 bed, 1 bath, Wifi, Kitche...",SUPERHOST,[$25],"[ (, 11, )]",[5.0]

In [215]:
# replace specific values
# indices = [31,73,230,260]

listings.at[31,'details']= ['2 guests', '1 bedroom','1 bed', '1 bath', 'Wifi']
listings.at[73,'details'] = ['2 guests', '1 bedroom','1 bed', '1 bath', 'Wifi','Kitchen']
listings.at[230,'details'] = ['2 guests', 'Studio','1 bed', '1 bath', 'Wifi','Kitchen','Free parking']
listings.at[260,'details'] = ['1 guest', '1 bedroom','1 bed', '1 shared bath', 'Wifi','Kitchen','Free parking']

In [217]:
## check total number of amenities offered
listings['total_amenities'] = listings['details'].apply(len)
listings[['guests','bedrooms','beds','baths','wifi','kitchen','parking','pool']] = listings['details'].apply(pd.Series)
listings['price($)'] = listings['price'].apply(pd.Series)
listings['rating'] = listings['review_score'].apply(pd.Series)
listings[['x','reviews','y']] = listings['total_reviews'].apply(pd.Series)
listings['price($)'] = listings['price($)'].str.replace('$','')
listings['price($)'] = listings['price($)'].astype(int)
listings['is_superhost'] = np.where(listings['is_superhost']=='SUPERHOST','yes','no')

listings = listings.drop(['x','y'],axis=1)
listings['rating'] = np.where(listings['rating'].isna(),0,listings['rating'])
listings['reviews'] = np.where(listings['reviews'].isna(),0,listings['reviews'])

# clean values
listings['guests'] = listings['guests'].str.replace(' guests| guest', '')
listings['bedrooms'] = listings['bedrooms'].str.replace(' bedrooms| bedroom','')
listings['beds'] = listings['beds'].str.replace(' beds|bed','')
listings['bedrooms'] = listings['bedrooms'].str.replace('Studio','0')
listings['baths'] = listings['baths'].str.replace(' baths| bath','')

In [218]:
# listings.info()

In [219]:
listings.head(3)

,title,url,info,description,details,is_superhost,price,total_reviews,review_score,total_amenities,...,bedrooms,beds,baths,wifi,kitchen,parking,pool,price($),rating,reviews
0,Entire apartment in Nairobi,NaN,NaN,Cozy 2 bedroom near popular restaurant,"[4 guests, 2 bedrooms, 3 beds, 2.5 baths, Wifi...",yes,[$52],[],[],7,...,2,3,2.5,Wifi,Kitchen,Free parking,NaN,52,0,0
1,Entire apartment in Nairobi,NaN,NaN,Brookview Kilimani 1 Bedroom (Monthly),"[2 guests, 1 bedroom, 1 bed, 1 bath, Wifi, Kit...",yes,[$22],[],[],8,...,1,1,1,Wifi,Kitchen,Free parking,Pool,22,0,0
2,Entire guesthouse in Nairobi,NaN,NaN,"Kileleshwa, 1 bedroom private cottage","[2 guests, 1 bedroom, 2 beds, 1 bath, Wifi, Ki...",no,[$10],"[ (, 5, )]",[5.0],7,...,1,2,1,Wifi,Kitchen,Free parking,NaN,10,5.0,5

In [222]:
listings['baths'].unique()

array(['2.5', '1', '1.5', '2', '1 shared', '1 private', '3.5', '3',
       '1.5 shared', '4', 'Half-bath'], dtype=object)

In [208]:
listings[listings['beds']=='1 shared bath']

,title,url,info,description,details,is_superhost,price,total_reviews,review_score,total_amenities,...,bedrooms,beds,baths,wifi,kitchen,parking,pool,price($),rating,reviews
260,Private room in Nairobi,NaN,NaN,Private Room in a Cozy Apartment in Westlands.,"[1 guest, 1 bedroom, 1 shared bath, Wifi, Kitc...",no,[$11],[],[],6,...,1,1 shared bath,Wifi,Kitchen,Free parking,NaN,NaN,11,0,0

In [147]:
listings['is_superhost'].value_counts()

no    280
Name: is_superhost, dtype: int64

In [149]:
listings['price($)'].describe()

count    280.000000
mean      32.207143
std       16.548396
min        8.000000
25%       21.000000
50%       28.000000
75%       40.250000
max      101.000000
Name: price($), dtype: float64

In [18]:
listings['total_amenities'].unique()

array([7, 8, 6, 4, 5])

In [35]:
vals = [x for x in listings[listings['total_amenities']==6]['details']]
vals

[['2 guests', 'Studio', '1 bed', '1 bath', 'Wifi', 'Kitchen'],
 ['2 guests', '1 bedroom', '1 bed', '1 bath', 'Wifi', 'Kitchen'],
 ['2 guests', 'Studio', '1 bed', '1 bath', 'Wifi', 'Kitchen'],
 ['4 guests', '2 bedrooms', '2 beds', '1.5 baths', 'Wifi', 'Kitchen'],
 ['2 guests', 'Studio', '1 bed', '1 bath', 'Wifi', 'Kitchen'],
 ['2 guests', 'Studio', '2 beds', '1 bath', 'Wifi', 'Free parking'],
 ['2 guests', '1 bedroom', '1 bed', '1 bath', 'Wifi', 'Free parking'],
 ['2 guests', 'Studio', '1 bed', '1.5 baths', 'Wifi', 'Kitchen'],
 ['3 guests', 'Studio', '2 beds', '1 bath', 'Wifi', 'Kitchen'],
 ['2 guests', '1 bedroom', '1 bed', '1 bath', 'Wifi', 'Kitchen'],
 ['2 guests', '1 bedroom', '1 bed', '1 bath', 'Wifi', 'Free parking'],
 ['2 guests', 'Studio', '1 bed', '1 bath', 'Wifi', 'Kitchen'],
 ['2 guests', '1 bedroom', '1 bed', '1 bath', 'Wifi', 'Kitchen'],
 ['2 guests', 'Studio', '1 bath', 'Wifi', 'Kitchen', 'Free parking'],
 ['2 guests', 'Studio', '1 bed', '1 bath', 'Wifi', 'Kitchen'],
 ['1 guest', '1 bedroom', '1 shared bath', 'Wifi', 'Kitchen', 'Free parking'],
 ['2 guests', 'Studio', '1 bed', '1 bath', 'Wifi', 'Free parking'],
 ['2 guests', 'Studio', '1 bed', '1 bath', 'Wifi', 'Free parking']]

In [5]:
listings['details'][10]

['2 guests', '1 bedroom', '1 bed', '1 bath', 'Wifi', 'Kitchen', 'Free parking']

In [6]:
listings['details'][20]

['3 guests',
 '2 bedrooms',
 '3 beds',
 '1.5 baths',
 'Wifi',
 'Kitchen',
 'Free parking']

In [10]:
len(listings['details'][100])

7

In [8]:
listings['details'][150]

['2 guests', '1 bedroom', '1 bed', '1 bath', 'Wifi', 'Kitchen', 'Free parking']

In [9]:
listings['details'][200]

['2 guests',
 'Studio',
 '1 bed',
 '1 bath',
 'Wifi',
 'Kitchen',
 'Free parking',
 'Pool']